body {
    background-color: #f0f0f0;
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
}
.btn-custom {
    width: 200px;
    margin: 10px;
}